[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "*"
flask-restplus = "*"
ldap3 = "*"
marshmallow = "*"
python-telegram-bot = "*"
pyHS100 = "*"
APScheduler = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
flask-httpauth = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
dash-auth = "*"

[dev-packages]
pytest = "*"
coverage = "*"
rope = "*"

[requires]
python_version = "3.7"
# Made problems with dash, i.e. layout wouldnt show
#[pipenv]
#allow_prereleases = true
